
.introduction_container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--main_color);

}

.pageNumber-container {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pageNumber {
    margin-top: 50%;
    font-size: 4rem;
    font-weight: 700;
    color: var(--main_text_color);
}

.line-number {
    width: 2px;
    height: 4rem;
    margin-top: 5%;
    background: #757575;
}

.pageName {
    font-size: 1rem;
    color: var(--main_text_color);
    transform: rotate(90deg);
    margin-top: 25%;
}

.introduction_content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.title {
    margin-top: 30%;
    font-size: 1.3rem;
    color: var(--main_text_color);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.introduction_content .content_title_line {
    width: 4rem;
    height: 3px;
    margin-top: 5%;
    background: black;
}

.content {
    margin-top: 1rem;
    word-wrap: break-word;
    line-height: 1.8rem;
    font-size: 0.8rem;
    width: 19rem;
    color: var(--main_text_color);
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.image-container {
    width: 70%;
    height: 80%;
    overflow: hidden;
    box-shadow: 0 0 6px 2px #888888;
}

.image-container img {
    width: 100%;
    height: 100%;

}
.phone_number, .email {
    color: #3498db;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}
